<%= form_with(model: [book, BookComment.new], local: false, html: { id: "new_comment_form_#{book.id}" }) do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <%= f.submit "送信", class: "btn-sm custom-gray-btn" %>
<% end %>